@font-face {
    font-family: "Anonymous Pro";
    src: url("../fonts/AnonymousPro-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../fonts/RobotoMono-VariableFont_wght.ttf") format("truetype");
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
}

main {
    background-color: black;
    color: white;
}

a {
    color: wheat;
    text-decoration: none;
    border-radius: 10%;
}

a:hover {
    color: darkgray;
}

.classNameNav {
    overflow: hidden;
    width: 100vw;
    background-color: #DA6E2B;
    color: #2C2F37;
    text-align: right;
}

.classSectionFooter {
    overflow: hidden;
    width: 100vw;
    background-color: #DA6E2B;
    color: #2C2F37;
    text-align: right;
}

.classNameRightNav {
    overflow: hidden;
    width: 100vw;
    background-color: #DA6E2B;
    color: #2C2F37;
    text-align: right;
}

.classNameClassASection {
    overflow: hidden;
    width: 100vw;
    background-color: #DA6E2B;
    color: #2C2F37;
    text-align: right;
    height: auto;
    padding-bottom: 1vw;
}

.classNameClassBSection {
    overflow: hidden;
    width: 100vw;
    background-color: #2C2F37;
    color: #DA6E2B;
    text-align: left;
    height: auto;
    padding-bottom: 1vw;
}

.classNameUl {
    padding-inline-start: 0;
    list-style-type: none;
}

.classNameImage {
    filter: brightness(75%);
    max-width: 100%;
    max-height: 100%;
    border-radius: 10%;
    padding: 1.5vw;
    width: 320px;
    height: 489px;
}

.classNameH1 {
    color: white;
    padding: 0 1.5vw;
    font-family: "Roboto Mono", sans-serif;
    font-size: 4.5rem;
}

.classNameH2 {
    padding: 0.75vw 1.5vw;
    font-family: "Anonymous Pro", sans-serif;
    word-spacing: -0.25rem;
    font-size: 2rem;
    font-weight: normal;
}

.className02H2 {
    color: white;
    padding: 3vw 1.5vw;
    font-family: "Anonymous Pro", sans-serif;
    font-size: 2.75rem;
}

.classNameHorizontalLi {
    display: inline-block;
    padding: 2.5vw;
    font-family: "Anonymous Pro", sans-serif;
    font-size: 1.25rem;
}

.classNameIconHorizontalLi {
    display: inline-block;
    padding-right: 1.5vw;
    font-family: "Anonymous Pro", sans-serif;
    font-size: 1.25rem;
}

.classNameIconHorizontalLiFooter {
    display: block;
    padding-right: 0.5vw;
    font-family: "Anonymous Pro", sans-serif;
    font-size: 1.25rem;
}

.classNameVerticalLi {
    padding: 0 1.5vw;
    font-family: "Anonymous Pro", sans-serif;
    font-size: 2rem;
}

.className02VerticalLi {
    padding-top: 1vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    font-family: "Anonymous Pro", sans-serif;
    font-size: 2rem;
}

.className03VerticalLi {
    display: block;
    padding: 0.5vw;
    font-family: "Anonymous Pro", sans-serif;
    font-size: 1.25rem;
}

.classNameSpan {
    padding: 0 1.5vw;
    font-family: "Anonymous Pro", sans-serif;
    font-size: 2rem;
}

.classNameDiv {
    padding: 0.75vw 1.5vw;
    font-family: "Anonymous Pro", sans-serif;
    font-size: 2rem;
    text-align: center;
}

.className02Div {
    padding: 0.25vw 1.5vw;
    font-family: "Anonymous Pro", sans-serif;
    font-size: 1rem;
    text-align: center;
}

@media screen and (max-width: 1080px) {
    .classNameImage {
        width: 290px;
        height: 444px;
    }

    .classNameH1 {
        font-size: 4rem;
    }

    .classNameH2 {
        font-size: 2rem;
    }

    .className02H2 {
        font-size: 2.75rem;
    }

    .classNameHorizontalLi {
        font-size: 2rem;
    }

    .classNameVerticalLi {
        font-size: 2rem;
    }

    .className02VerticalLi {
        font-size: 2rem;
    }

    .className03VerticalLi {
        font-size: 2rem;
    }

    .classNameSpan {
        font-size: 2.25rem;
    }

    .classNameDiv {
        font-size: 1.75rem;
    }

    .className02Div {
        font-size: 1rem;
    }
}

@media screen and (max-width: 920px) {
    .classNameImage {
        width: 260px;
        height: 398px;
    }

    .classNameH1 {
        font-size: 3.5rem;
    }

    .classNameH2 {
        font-size: 2rem;
    }

    .className02H2 {
        font-size: 2.75rem;
    }

    .classNameHorizontalLi {
        font-size: 1.5rem;
    }

    .classNameVerticalLi {
        font-size: 1.75rem;
    }

    .className02VerticalLi {
        font-size: 1.75rem;
    }

    .className03VerticalLi {
        font-size: 1.5rem;
    }

    .classNameSpan {
        font-size: 1.75rem;
    }

    .classNameDiv {
        font-size: 1.25rem;
    }

    .className02Div {
        font-size: 1rem;
    }
}

@media screen and (max-width: 760px) {
    .classNameImage {
        width: 230px;
        height: 352px;
    }

    .classNameH1 {
        font-size: 3rem;
    }

    .classNameH2 {
        font-size: 1.5rem;
    }

    .className02H2 {
        font-size: 2rem;
    }

    .classNameHorizontalLi {
        font-size: 1rem;
    }

    .classNameVerticalLi {
        font-size: 1.25rem;
    }

    .className02VerticalLi {
        font-size: 1.25rem;
    }

    .className03VerticalLi {
        font-size: 1rem;
    }

    .classNameSpan {
        font-size: 1.25rem;
    }

    .classNameDiv {
        font-size: 0.75rem;
    }

    .className02Div {
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 600px) {
    .classNameImage {
        width: 200px;
        height: 306px;
    }

    .classNameH1 {
        font-size: 2rem;
    }

    .classNameH2 {
        font-size: 1.5rem;
    }

    .className02H2 {
        font-size: 2rem;
    }

    .classNameHorizontalLi {
        font-size: 1rem;
    }

    .classNameVerticalLi {
        font-size: 1.25rem;
    }

    .className02VerticalLi {
        font-size: 1.25rem;
    }

    .className03VerticalLi {
        font-size: 1rem;
    }

    .classNameSpan {
        font-size: 1.25rem;
    }

    .classNameDiv {
        font-size: 0.75rem;
    }

    .className02Div {
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 520px) {
    .classNameImage {
        width: 110px;
        height: 168px;
    }

    .classNameH1 {
        font-size: 1.5rem;
    }

    .classNameH2 {
        font-size: 0.75rem;
    }

    .className02H2 {
        font-size: 1rem;
    }

    .classNameHorizontalLi {
        font-size: 1rem;
    }

    .classNameVerticalLi {
        font-size: 0.75rem;
    }

    .className02VerticalLi {
        font-size: 0.75rem;
    }

    .className03VerticalLi {
        font-size: 1rem;
    }

    .classNameSpan {
        font-size: 0.75rem;
    }

    .classNameDiv {
        font-size: 0.5rem;
    }

    .className02Div {
        font-size: 0.5rem;
    }
}

@media screen and (max-width: 440px) {
    .classNameImage {
        width: 80px;
        height: 122px;
    }

    .classNameH1 {
        font-size: 1.25rem;
    }

    .classNameH2 {
        font-size: 0.75rem;
    }

    .className02H2 {
        font-size: 1rem;
    }

    .classNameHorizontalLi {
        font-size: 0.75rem;
    }

    .classNameVerticalLi {
        font-size: 0.75rem;
    }

    .className02VerticalLi {
        font-size: 0.75rem;
    }

    .className03VerticalLi {
        font-size: 0.75rem;
    }

    .classNameSpan {
        font-size: 0.75rem;
    }

    .classNameDiv {
        font-size: 0.5rem;
    }

    .className02Div {
        font-size: 0.5rem;
    }
}