@font-face {
    font-family: "Lexend Deca Regular";
    src: url("../fonts/LexendDeca-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Lexend Deca Bold";
    src: url("../fonts/LexendDeca-Bold.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: #9CA3AF;
    text-decoration: none;
    border-radius: 10%;
}

a:hover {
    color: white;
}

.classNameNav {
    overflow: hidden;
    width: 100vw;
    background-color: #00260F;
    color: #6B7280;
    text-align: right;
}

.className01Section {
    overflow: hidden;
    width: 100vw;
    background-color: #00260F;
    color: #6B7280;
    text-align: right;
    height: auto;
    padding-bottom: 1vw;
}

.className02Section {
    overflow: hidden;
    width: 100vw;
    background-color: #113826;
    color: #6B7280;
    text-align: left;
    height: auto;
    padding-bottom: 1vw;
}

.classNameFooter {
    overflow: hidden;
    width: 100vw;
    background-color: #113826;
    color: #6B7280;
    text-align: center;
}

.className03Section {
    overflow: hidden;
    width: 100vw;
    background-color: #00260F;
    color: #6B7280;
    text-align: right;
    height: auto;
    padding-bottom: 1vw;
    display: flex;
}

.className04Section {
    overflow: hidden;
    width: 100vw;
    background-color: #113826;
    color: #6B7280;
    text-align: left;
    height: auto;
    padding-bottom: 1vw;
    display: flex;
}

.classNameUl {
    padding-inline-start: 0;
    list-style-type: none;
}

.classNameImg {
    filter: brightness(75%);
    max-width: 100%;
    max-height: 100%;
    border-radius: 10%;
    padding: 1.5vw;
    width: 320px;
    height: 489px;
}

.className02Img {
    width: 30px;
    height: 30px;
}

.className03Img {
    filter: brightness(75%);
    max-width: 100%;
    max-height: 100%;
    border-radius: 10%;
    padding: 1.5vw;
    width: 320px;
    height: 326px;
}

.classNameH1 {
    color: #F3F4F6;
    padding: 0 1.5vw;
    font-family: "Lexend Deca Bold", sans-serif;
    font-size: 4rem;
}

.classNameH2 {
    padding: 0.75vw 1.5vw;
    font-family: "Lexend Deca Regular", sans-serif;
    font-size: 2rem;
}

.className02H2 {
    color: #F3F4F6;
    padding: 3vw 1.5vw 0;
    font-family: "Lexend Deca Bold", sans-serif;
    font-size: 2.75rem;
}

.classNameHorizontalLi {
    display: inline-block;
    padding: 1vw 1.5vw;
    font-family: "Lexend Deca Regular", sans-serif;
    font-size: 1.25rem;
}

.classNameIconHorizontalLi {
    display: inline-block;
    padding-right: 1.5vw;
    font-family: "Lexend Deca Regular", sans-serif;
    font-size: 1.25rem;
}

.classNameVerticalLi {
    padding: 0 1.5vw;
    font-family: "Lexend Deca Regular", sans-serif;
    font-size: 2rem;
}

.className02VerticalLi {
    padding-top: 1vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    font-family: "Lexend Deca Regular", sans-serif;
    font-size: 2rem;
}

.className03VerticalLi {
    display: inline-block;
    padding: 0.5vw;
    font-family: "Lexend Deca Regular", sans-serif;
    font-size: 1.25rem;
}

.className01Span {
    color: #E8A117;
    padding: 0 1.5vw;
    font-family: "Lexend Deca Regular", sans-serif;
    font-size: 2rem;
}

.className02Span {}

.className03Span {
    color: #E8A117;
}

.classNameDiv {
    padding: 0.75vw 1.5vw;
    font-family: "Lexend Deca Regular", sans-serif;
    font-size: 2rem;
    text-align: center;
}

.className02Div {
    padding: 0.25vw 1.5vw;
    font-family: "Lexend Deca Regular", sans-serif;
    font-size: 1rem;
    text-align: center;
}

.className03Div {}

.classNameButton {
    margin: 1.5vw;
    padding: 0.75vw 1.5vw;
    font-family: "Lexend Deca Regular", sans-serif;
    font-size: 2rem;
    border-radius: 10px;
    background-color: #E8A117;
}

@media screen and (max-width: 1080px) {
    .classNameImg {
        width: 290px;
        height: 444px;
    }

    .className02Img {
        width: 30px;
        height: 30px;
    }

    .className03Img {
        width: 290px;
        height: 295px;
    }

    .classNameH1 {
        font-size: 3.5rem;
    }

    .classNameH2 {
        font-size: 2rem;
    }

    .className02H2 {
        font-size: 2.75rem;
    }

    .classNameHorizontalLi {
        font-size: 1.25rem;
    }

    .classNameVerticalLi {
        font-size: 2rem;
    }

    .className02VerticalLi {
        font-size: 2rem;
    }

    .className03VerticalLi {
        font-size: 1.25rem;
    }

    .className01Span {
        font-size: 2rem;
    }

    .classNameDiv {
        font-size: 1.75rem;
    }

    .className02Div {
        font-size: 1rem;
    }

    .classNameButton {
        font-size: 2rem;
    }
}

@media screen and (max-width: 920px) {
    .classNameImg {
        width: 260px;
        height: 398px;
    }

    .className02Img {
        width: 30px;
        height: 30px;
    }

    .className03Img {
        width: 260px;
        height: 265px;
    }

    .classNameH1 {
        font-size: 3.25rem;
    }

    .classNameH2 {
        font-size: 2rem;
    }

    .className02H2 {
        font-size: 2.75rem;
    }

    .classNameHorizontalLi {
        font-size: 1.25rem;
    }

    .classNameVerticalLi {
        font-size: 1.75rem;
    }

    .className02VerticalLi {
        font-size: 1.75rem;
    }

    .className03VerticalLi {
        font-size: 1.25rem;
    }

    .className01Span {
        font-size: 1.75rem;
    }

    .classNameDiv {
        font-size: 1.25rem;
    }

    .className02Div {
        font-size: 1rem;
    }

    .classNameButton {
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 760px) {
    .classNameImg {
        width: 230px;
        height: 352px;
    }

    .className02Img {
        width: 24px;
        height: 24px;
    }

    .className03Img {
        width: 230px;
        height: 234px;
    }

    .classNameH1 {
        font-size: 2.75rem;
    }

    .classNameH2 {
        font-size: 1.5rem;
    }

    .className02H2 {
        font-size: 2rem;
    }

    .classNameHorizontalLi {
        font-size: 1rem;
    }

    .classNameVerticalLi {
        font-size: 1.25rem;
    }

    .className02VerticalLi {
        font-size: 1.25rem;
    }

    .className03VerticalLi {
        font-size: 1rem;
    }

    .className01Span {
        font-size: 1.25rem;
    }

    .classNameDiv {
        font-size: 0.75rem;
    }

    .className02Div {
        font-size: 0.75rem;
    }

    .classNameButton {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 600px) {
    .classNameImg {
        width: 200px;
        height: 306px;
    }

    .className02Img {
        width: 24px;
        height: 24px;
    }

    .className03Img {
        width: 200px;
        height: 203px;
    }

    .classNameH1 {
        font-size: 2.5rem;
    }

    .classNameH2 {
        font-size: 1.5rem;
    }

    .className02H2 {
        font-size: 2rem;
    }

    .classNameHorizontalLi {
        font-size: 1rem;
    }

    .classNameVerticalLi {
        font-size: 1.25rem;
    }

    .className02VerticalLi {
        font-size: 1.25rem;
    }

    .className03VerticalLi {
        font-size: 1rem;
    }

    .className01Span {
        font-size: 1.25rem;
    }

    .classNameDiv {
        font-size: 0.75rem;
    }

    .className02Div {
        font-size: 0.75rem;
    }

    .classNameButton {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 520px) {
    .classNameImg {
        width: 110px;
        height: 168px;
    }

    .className02Img {
        width: 24px;
        height: 24px;
    }

    .className03Img {
        width: 110px;
        height: 112px;
    }

    .classNameH1 {
        font-size: 1.25rem;
    }

    .classNameH2 {
        font-size: 0.75rem;
    }

    .className02H2 {
        font-size: 1rem;
    }

    .classNameHorizontalLi {
        font-size: 1rem;
    }

    .classNameVerticalLi {
        font-size: 0.75rem;
    }

    .className02VerticalLi {
        font-size: 0.75rem;
    }

    .className03VerticalLi {
        font-size: 1rem;
    }

    .className01Span {
        font-size: 0.75rem;
    }

    .classNameDiv {
        font-size: 0.5rem;
    }

    .className02Div {
        font-size: 0.5rem;
    }

    .classNameButton {
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 440px) {
    .classNameImg {
        width: 80px;
        height: 122px;
    }

    .className02Img {
        width: 20px;
        height: 20px;
    }

    .className03Img {
        width: 80px;
        height: 81px;
    }

    .classNameH1 {
        font-size: 1.25rem;
    }

    .classNameH2 {
        font-size: 0.75rem;
    }

    .className02H2 {
        font-size: 1rem;
    }

    .classNameHorizontalLi {
        font-size: 0.75rem;
    }

    .classNameVerticalLi {
        font-size: 0.75rem;
    }

    .className02VerticalLi {
        font-size: 0.75rem;
    }

    .className03VerticalLi {
        font-size: 0.75rem;
    }

    .className01Span {
        font-size: 0.75rem;
    }

    .classNameDiv {
        font-size: 0.5rem;
    }

    .className02Div {
        font-size: 0.5rem;
    }

    .classNameButton {
        font-size: 0.75rem;
    }
}