@font-face {
    font-family: "Anonymous Pro";
    src: url("../fonts/AnonymousPro-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../fonts/RobotoMono-VariableFont_wght.ttf") format("truetype");
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
}

main {
    background-color: black;
    color: white;
}

a {
    color: wheat;
    text-decoration: none;
    border-radius: 10%;
}

a:hover {
    color: darkgray;
}

.classNameImage {
    filter: brightness(75%);
    max-width: 100%;
    max-height: 100%;
    border-radius: 10%;
    padding: 0.5vw;
    width: 320px;
    height: 489px;
}

.classNameNav {
    overflow: hidden;
    background-color: #DA6E2B;
    color: #2C2F37;
    text-align: center;
}

.classNameClassASection {
    overflow: hidden;
    width: 100vw;
    background-color: #DA6E2B;
    color: #2C2F37;
    text-align: right;
    height: auto;
}

.classNameClassBSection {
    overflow: hidden;
    width: 100vw;
    background-color: #2C2F37;
    color: #DA6E2B;
    text-align: left;
    height: auto;
}

.classNameDiv {
    height: 10%;
}

.classNameH1 {
    padding: 0.25vw;
    font-family: "Roboto Mono", sans-serif;
    font-size: 4.5rem;
}

.classNameH2 {
    padding: 1vw;
    font-family: "Anonymous Pro", sans-serif;
    font-size: 3rem;
}

.classNameH3 {
    font-family: "Anonymous Pro", sans-serif;
}

.classNameUl {
    padding-inline-start: 0;
    list-style-type: none;
}

.classNameHorizontalLi {
    display: inline-block;
    padding: 2vw;
    font-family: "Anonymous Pro", sans-serif;
    font-size: 2.5rem;
}

.classNameVerticalLi {
    padding: 0.5vw;
    font-family: "Anonymous Pro", sans-serif;
    font-size: 3rem;
}